@font-face {
  font-family: BrushFont;
  src: url('@/assets/fonts/Brush.woff') format('woff');
  font-display: block;
}

.header {
  display: flex;
  width: 100%;
  display: flex;
  gap: 50px;
  background-color: #fff;
  box-shadow: 0 4px 6px fade(#000, 5);
  background: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  &__logo {
    font-family: BrushFont;
  }
  &__search {
    justify-content: center;
  }
  &__nav {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 50px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
